@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: #0a0b0d;
    color: white;
    scroll-behavior: smooth;
  }
  body {
    @apply font-sans antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
